.center {
  line-height: 200px;
  height: 200px;
  text-align: center;
}

/* If the text has multiple lines, add the following: */
/*.center p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.center h1 {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}*/
/*Body CSS*/
body { background: #ECEFF1; }
/*Navigation CSS*/
{/*color: #ECEFF1*/}